/* landing.css */
.main {
    margin: 0 auto;
    padding: 2px;
    background-color: black;
  }
  
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .title h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .title p {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 200;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .shop-now-btn {
   border-radius: 2cm;
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: 0.1ch;
   background: var(--bg);
   border: 4px solid transparent;
   box-shadow: 0 1px hsl(0 0% 100% /0.15) inset;
   cursor: pointer;
   background-color: linear-gradient(var(--bg), var(--bg)) padding-box, var(--glow)hsl(0 0% 100% /0.15),
   linear-gradient(black,black) border-box;
   transition: background-size 0.24s;
   touch-action: none;
   position: relative;
   padding:1rem 2rem;
  }
  shop-now-btn::before {
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: 0 1px hsl(0 0%  100% /0.15) inset;
    background: var(--bg);
    z-index: 2;
    border-radius: 1rem;
  }
 shop-now-btn span {
    background: var(--glow),black;
    background-clip: text;
    color: transparent;
    height: 100%;
    width: 100%;
    z-index: 2;
    position: relative;
    inset: 0;
 }
 :root:has(button:active) {
    --size: 360px;
 }
 shop-now-btn::after {
    content: "";
    position: absolute;
    inset: -4px;
    filter: blue(20px);
    border: 4px solid transparent;
    background: var(--glow);
    border-radius: 1rem;
 }

  .product button {
    border-radius: 2cm;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1ch;
    background: var(--bg);
    border: 4px solid transparent;
    box-shadow: 0 1px hsl(0 0% 100% /0.15) inset;
    cursor: pointer;
    background-color: linear-gradient(var(--bg), var(--bg)) padding-box, var(--glow)hsl(0 0% 100% /0.15),
    linear-gradient(black,black) border-box;
    transition: background-size 0.24s;
    touch-action: none;
    position: relative;
    padding:1rem 2rem;
   }
  
  .image img {
    max-width: 300px;
    height: auto;
    margin-right: 50px;
  }
  
  .content {
    display: flex;
    flex-wrap: wrap;
  }
  
  .left, .right {
    flex: 1;
    padding: 0 20px;
  }
  
  .left h2, .right h2 {
    margin-bottom: 20px;
  }
  
  .left ul {
    list-style: none;
    padding: 0;
  }
  
  .left li {
    margin-bottom: 10px;
  }
  
  .right .product {
    display: flex;
    margin-bottom: 20px;
  }
  
  .right .product img {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
  }
  
  .right .product-info {
    flex: 1;
  }
  
  .right .product-info h3 {
    margin-top: 0;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }



  .image {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .image:hover .overlay {
    opacity: 1;
  }
  
  .image img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  


  .product img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .overlay-content {
    text-align: center;
    color: #fff;
  }
  
  .overlay-content h2 {
    margin-bottom: 10px;
  }
  
  .overlay-content p {
    margin-bottom: 0;
  }
  
  